! special
*.foreground:   #d2d8d9
*.background:   #2b2d2e
*.cursorColor:  #d2d8d9

! black
*.color8:       #d2d8d9
*.color0:       #d2d8d9
! red
*.color9:       #af200f
*.color1:       #b2282c

! green
*.color10:      #117a1c
*.color2:       #117a1c

! yellow
*.color11:      #b9a72f
*.color3:       #b9a72f

! blue
*.color12:      #2472ba
*.color4:       #2472ba

! magenta
*.color13:      #b82534
*.color5:       #b82534

! cyan
*.color14:      #14848b
*.color6:       #14848b

! white
*.color15:      #d2d8d9
*.color7:       #d2d8d9

! urxv  configuration

! 17/3/23: fix for xrvt-unicode 9.31 prompt not in first line
! https://bbs.archlinux.org/viewtopic.php?id=282791
URxvt.geometry: 400x400

! get rid of jumping to bottom of output
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true

! remove scrollbar and set borders (borders do nothing?)
URxvt.scrollBar: false
URxvt.externalBorder: 0
URxvt.internalBorder: 0
URxvt.borderLess: false

! 'fake' urxvt transparency
! basically copies the set background and applies to self
! configured to produce same shading a i3bar
URxvt.transparent: true
URxvt.shading: 40
URxvt.tintcolor: #1C1C1C

! this is 'true' transparency,
! configured to look the same, but requires a compositor
!URxvt.depth: 32
!URxvt.background: [60]#000000

! font settings
Xft.rgba: none
Xft.dpi: 96
URxvt.font: xft:SourceCodePro:size=8.5
URxvt.perl-ext-common: font-size
URxvt.cursorUnderline: 1

!Xft.lcdfilter: lcddefault
!Xft.dpi: 100
!Xft.antialias: true
