[Unit]
Description=fetch current publich-facing ip address

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=DISPLAY=:0
ExecStart=/home/lila/scripts/get_public_ip.sh

[Install]
WantedBy=default.target