[Unit]
Description=synchronize obsidian folder

[Service]
Type=oneshot
ExecStart=/home/lila/scripts/assortedScripts/repomgr.sh -a
StandardOutput=journal

[Install]
WantedBy=default.target
